<div #layoutWrapper class="layout-wrapper" [ngClass]="{'menu-layout-static': !isOverlay(),
        'menu-layout-overlay': isOverlay(),
        'layout-menu-overlay-active': overlayMenuActive,
        'menu-layout-horizontal': isHorizontal(),
        'layout-menu-static-inactive': staticMenuDesktopInactive,
        'layout-menu-static-active': staticMenuMobileActive}">

    <app-topbar *ngIf="logado"></app-topbar>
    <div *ngIf="logado" class="layout-menu-container" (click)="onMenuClick($event)">
        <p-scrollPanel #layoutMenuScroller [style]="{height:'100%'}">
            <div class="menu-scroll-content">
                <!--<div class="username">
                    <i class="fa fa-user"></i>
                    <span>
                        {{ auth?.nome?.split(' ')[0] || auth?.nome  }}
                    </span>
                </div> -->
                <br>
                <app-menu [reset]="resetMenu"></app-menu>
            </div>
        </p-scrollPanel>
    </div>

    <div [ngClass]="{'layout-main' : logado }">
        <div class="layout-main-content">
            <router-outlet></router-outlet>

            <app-footer  *ngIf="logado"></app-footer>
        </div>
    </div>

    <div class="layout-mask"></div>

</div>
