
<div class="exception-body error-page">

  <div class="exception-bottom">
      <div class="exception-wrapper">
          <br><br>
          <img src="assets/layout/images/icon-404.png">
          <span class="exception-summary">Essa pagina não está disponivel</span>
          <span class="exception-detail">faça o login novamente</span>
          <button (click)="login()" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left black-btn">
            <span class="ui-button-text ui-c">Tela de login</span>
          </button>
          
          <br><br>
          <img src="assets/layout/images/logo-header.svg" class="logo-icon">
          <span class="exception-footer">Tookad</span>
      </div>
  </div>  
</div>
